<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Contacto.css">
    <title>Contacto</title>
</head>
<body>
    <header>
            <nav>
                <picture class="Logo">
                    <a href="index.html"><img src="../images/images.jpg" alt=""></a>
                </picture>
                <ul class="ul">
                    <li><a href="../../index.html">Incio</a></li>
                    <li><a href="./centroayuda.html">Centro de Ayuda</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./ubicacion.html">Ubicacion</a></li>
                </ul>
            </nav>


    </header>
        <main>
        
    
    
            <form action="" method="Post" enctype="">
                <label for="Nombre">Nombre</label>
                <input type="Nombre" Name ="Nombre" id=""> <br>
                <label for="Apellido">Apellido</label>
                <input type="Apellido" Name ="Apellido" id=""><br>
                <label for="email">Email</label>
                <input type="email" Name ="email" id=""><br>
                <label for="Hombre">Hombre</label>
                <input type="radio" name="Seleccion Unica" id="" value="">
                <label for="Mujer">Mujer</label>
                <input type="radio" name="Seleccion Unica" id="" value=""><br>
                <label for="Provincia">Provincia</label>
                <select name="Provincia" id="Provincia">
                <option value="Cordoba">Cordoba</option>
                <option value="Jujuy">Jujuy</option>
                <option value="Salta">Salta</option>
                <option value="Santa Fe">Santa Fe</option>
            </select><br>
            <br>
        
                <input type="checkbox" name="" id="">
                <label for="Ofertas">Desa Recibir Ofertas?</label><br>
                <textarea name="" id="" cols="30" rows="10" placeholder="Consulta"></textarea><br>
                <input type="reset" value="Limpiar Informacion">
                <input type="submit" value="Enviar Informacion">
            </form>
        </main>
    <footer>
        <h2> Informacion</h2>
        Creado y producido por Santiago Smania con conocimientos en html y aplicaciones web en visual Studio
        Recibido de la facultad siglo 21 de la carrera de Analista en Sistema 

    </footer>
</body>
</html>



