<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Servicios.css">
    <title>Servicios</title>
</head>
<body>
    <header>
        <nav>
            <picture class="Logo">
                <a href="index.html"><img src="../images/images.jpg" alt=""></a>
            </picture>
            <ul class="ul">
                <li><a href="../../index.html">Incio</a></li>
                <li><a href="./centroayuda.html">Centro de Ayuda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./ubicacion.html">Ubicacion</a></li>
            </ul>
        </nav>
        <section>
            <form action="" method="Post" enctype="">
                <label for="Servicio">Servicio</label>
                <select name="Servicio" id="Servicio">
                    <option value="Mantenimiento">Mantenimiento de Pc</option>
                    <option value="Armado">Armado de Pc</option>
                    <option value="Presupuesto">Presupuesto de Pc</option>
                    <option value="Ventas de Insumos">Insumos</option>
                </select>
                <br>
                <br>
                <label for="Componentes de Pc">Componentes de Pc</label>
                <select name="Insumos" id="Insumos">
                    <option value="Placas">Placas de Video</option>
                    <option value="Procesadores">Procesadores</option>
                    <option value="Placas Madres">Placa Madre</option>
                    <option value="Ram">Ram</option>
                </select><br>
                <br>
                <label for="Marcas de Placas de Videon">Placas de Video</label>
                <select name="Marcas" id="Marcas">
                    <option value="Nvidia">NVIDIA</option>
                    <option value="Radeon">RX</option>
                </select>
                <br>
                <br>
                <label for="Placas Madres">Placas Madres</label>
                <select name="Marcas" id="Marcas">
                    <option value="MSI">MSI</option>
                    <option value="GIGABYTE">GIGABYTE</option>
                    <option value="ASUS">ASUS</option>
                </select>            
                <br>
                <br>
                <label for="Procesadores">Procesadores</label>
                <select name="Marcas" id="Marcas">
                    <option value="INTEL">INTEL</option>
                    <option value="AMD">AMD</option>
                </select>            
                <br>
                <br>
                <label for="RAM">RAM</label>
                <select name="Marcas" id="Marcas"> 
                    <option value="Kingston">Kingston</option>
                    <option value="Corsair">Corsair</option>
                    <option value="Patriot">Patriot</option>
                    <option value="Adata">Adata</option>
                </select>         
                
                <input type="reset" value="Limpiar Informacion">
                <input type="submit" value="Enviar Informacion">
                <br>
            </form>
             
           
            </form>
            <div class="video">
                <video src="../videos/Armado de Pc_Servicio.mp4" style= "width: 300px" controls></video>
                
            </div>
            <div class="images">
                <br>
                <br>
                <br>
                <br>
                <br>

                <img src="../images/placas de Video.png" style="width: 300px;" alt="Placa de Video">
                <img src="../images/Pl2.jpg" style="width: 200px;" alt="Placa Madre">
                <img src="../images/procesadores.jpg" style="width: 300px;" alt="Procesadores">
                <img src="../images/Ram.jpg" style="width: 300px;"alt="RAM">
            </div>
            
           
        </section>
        
    
       
        <footer>
            <h2> Informacion</h2>
                Creado y producido por Santiago Smania con conocimientos en html y aplicaciones web en visual Studio
                Recibido de la facultad siglo 21 de la carrera de Analista en Sistema 
    
        </footer>
    
    </header> 
    
    
</body>
    


</html>