<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Ubicacion.css">
    <title>Ubicacion</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html"><img src="../images/images.jpg" alt=""></a>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="centroayuda.html">Centro de Ayuda</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="servicios.html">Servicios</a></li>
            </ul>
        </nav>
</header>
<main>  
    <section>  
            <article>
                    <h1>Ubicacion </h1>
                        <h2> Horarios </h2>
                            <p> Nos encontramos en la calle obispo trejo al 3157 de la Ciudad de Cordoba Capital.
                                Nos pueden encontrar de lunes a viernes de 9 a 18 hs y los sabados desde las 10 hasta las 
                                13hs
                            </p>

            </article>  
            <div>
               

            </div>
    </section>


</main>
</body>
</html>