* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


a {
    font-size: 20px;
}


:root{
    --principal: rgb(84, 186, 233);
    --secondary:  #f5f5f5fa;
    --grad-bg: radial-gradient(circle, #27cbda, #00e0cb, #31f2a3, #93fd68, #ebff00);
    --font-primary: "Inter" , sans-serif;
    --font-secondary: "Browly One SC" , cursive;
    --text-lg: 2em;
    --text-md: 1.6em;

}

body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 15vh 1fr 15vh;
    grid-template-areas: 
    "header header header header"
    "section section section section";
    background: var(--grad-bg);
    
}





ul a{
    
    text-decoration: none;
    color: var(--secondary) 
}

section{
    
    display: grid;
   
    grid-template-columns: repeat(4, 1);
    grid-template-rows: 30vh 1fr 15vh; 
    grid-template-areas: 
    "video video video video";
       
   
}


.video{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
   
   
    
    
}


.images{
    grid-column: 1;
    grid-row: 2;
}


 header {
   
    min-height: 100vh;
    grid-area: header;
    grid-template-rows: 15vh 1fr 15vh;
    
    
}

header nav{
    display: flex;
    background-color: var(--principal); 
    
    
    
}
header ul{
    display: flex;
    list-style-type: none;
    align-items: center;
  
   
    gap: 2rem;
}

.ul{
    font-size: var(--text-md);
    display: inline-block;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    

}
@media screen and (max-width: 768px) {
    .ul{
        font-size: 5px;
    }

   nav .video{
        flex-grow: 1;
    }

}